body {
  font-family: Oswald, sans-serif;
  background-color: rgb(36, 36, 33);
  color: #b8de86;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 98vh;
  box-shadow: 0 0 20px 2px #83a459;
}
a {
  color: #b8de86;
  text-decoration: none;
}
